body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.flex{
    display:flex;
    margin: 100px;
    border-radius: 15px;
    border-style: double;
    box-shadow: 10px 15px 30px 30px;
}
.half-width{
    width: 80%;
    padding: 5%;
    background-color: rgb(177, 172, 172);
    border-radius: 10px;
    border-style: double;
    
}
.half-width1{
    width: 80%;
    padding: 5%;

    
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    text-align-last: center;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.new{
    display:flex;
    margin: 100px; 
}
.exp{
    box-shadow: 10px 15px 30px tomato;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}
.center{
    text-align-last: center;
}
.welcome{
    font-size: 80px;
    text-align-last: center;
}
.top{
    border-radius: 15;
}